<head>
    <title>注册 | 新生大学全栈营</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" media="all" href="/assets/application-3725c09cc888cb3c9461b637bdee063f229e3b1871933079cc85b2189e307f51.css">

    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="YKa0KN/K3UwZMWebs5F0Nqv2plksjYDfqUAAfvZIkqHHnKZm+pkPHeuNv48TDwjFxg/prqV53B6g/Vp6nN8LjA==">




    <link rel="shortcut icon" href="/images/favicon.ico">

  <style id="intercom-stylesheet" type="text/css"></style>
</head>

<body class="registrations registrations-new">
    <div id="qz-wrapper">


      <div id="qz-content">
        <div class="flash-block">

        </div>
        <div class="container common-block">
          <div class="row">
            <div class="registration-block">
  <div class="col-sm-6 hidden-xs">
    <div class="introduce">
      <div class="row">
        <div class="icon">
          <img src="https://fullstack.xinshengdaxue.com/images/registration-1.png">
        </div>
        <div class="text">
          <h2>用科学的方法轻松学编程</h2>
          <p>
            学编程和玩游戏一样开心
          </p>
        </div>
      </div>
      <div class="row">
        <div class="icon">
          <img src="https://fullstack.xinshengdaxue.com/images/registration-2.png">
        </div>
        <div class="text">
          <h2>职业程序员即时在线答疑</h2>
          <p>
            遇见Bug不再束手无策
          </p>
        </div>
      </div>
      <div class="row">
        <div class="icon">
          <img src="https://fullstack.xinshengdaxue.com/images/registration-3.png">
        </div>
        <div class="text">
          <h2>十年从业经验 大牛倾心分享</h2>
          <p>
            在成长的道路上，拉你一把
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- 这是一根竖线 -->
  <!-- <div class="col-sm-2 col-offset-5">

    <div id="Layer1" style="position:absolute; width:1px; height:335px; z-index:1; background-color: rgb(151, 151, 151);layer-background-color: #666666; border: 1px none rgb(151, 151, 151); "></div>
  </div> -->
<div class="right">
  <div class="col-xs-12 col-sm-6 input">
    <h1>注册</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "注册" %>
    </div>
    <% end %>

<div class="tip">
  已有账号？去<%= render "devise/shared/links" %>
</div>

  </div>
</div>

</div>


          </div>
        </div>
      </div>


      <div id="modal-from-dom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-from-dom-label" aria-hidden="true">

</div>


    </div>













</body>
