

<!-- Second navbar for search -->
<nav class="navbar navbar-default" id="qz-header">
<div class="navbar-container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">
    <span class="logo"><i class="fa fa-wordpress logo-icon" aria-hidden="true"></i>蜗壳招聘网</span>
  </a>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-left navbar-link">
<!--<li><a href="/vip_to_payment">预定VIP</a></li> -->



<li><a target="_blank" href="http://forum.qzy.camp/">交流论坛</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if !current_user %>
<li>
     <%= link_to("登入", new_user_session_path) %>
</li>
<li>
     <%= link_to("注册", new_user_registration_path)%>
</li>
      <% else %>
    <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Hi!, <%= current_user.email %>
  <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li> <%= link_to("后台管理", admin_jobs_path) %> </li>
    <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
  </ul>
  </li>
  <% end %>
</ul>

</div>
</div>
</nav>
